<div class="container">



    <!-- <div class="card search-box">
<iframe class="noHover"src="https://embed.lottiefiles.com/animation/16417"></iframe>

        <input type="search" name="search" [(ngModel)]="search">

        <button (click)="searchNow()">search</button>
    </div> -->

   



<main class="form-signin text-center ">
    
<iframe class="noHover"src="https://embed.lottiefiles.com/animation/16417"   ></iframe>

<h1 class="h3 mb-3 fw-normal">Questions Stack</h1>
  
      <div class="form-floating">
        <input type="search" class="form-control" name="search" [(ngModel)]="search" required>
        <label for="floatingInput">Search Term....</label>
      </div>
     <br>
      
      <button   (click)="searchNow()" style="background-color: rgb(230, 69, 10); color: white;" class="w-100 btn btn-lg " type="submit">Search</button>
      <p class="mt-5 mb-3 text-muted">&copy; syamjith</p>

  </main>
</div>